.textarea{
  font-size: 17px;
  height: 46px;
  width: calc(100% - 50px);
  display: block;
  border: none;
  margin: 0 0 0 0px;
  border-radius: 3px;
  font-family: inherit;
  font-weight: 100;
  outline: none;
}
.textarea :active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
.textarea::-webkit-scrollbar {
  width: 0px;
}
