.message{
  max-width: 260px;
  word-wrap: break-word;
  display: inline-block;
}
.msgbox{
  width: 100%;
  display: inline-block;
}
.date{
  width: 100%;
  display: block;
  font-size: 10px;
  color: #fff;
  text-align: right;
}
.from{
  display: block;
  float: left;
  padding: 5px;
  margin: 0 0 5px 5px;
  color: #fff;
  border-radius: 0px 8px 8px 8px;
  text-align: left;
  font-size: 15px;
}
.to{
  display: block;
  float: right;
  padding: 5px;
  margin: 0px 5px 5px 0;
  color: #fff;
  border-radius: 8px 8px 0px 8px;
  text-align: left;
  font-size: 15px;
}
.serverAccepted{
  float: right;
  position: relative;
  display: block;
  top: -1px;
  height: 0px;
  right: 2px;
}
.botAccepted{
  float: right;
  top: 0px;
  position: relative;
  display: block;
  margin-right: -1px;
  margin-left: -3px;
  height: 0;
}
.false{
  color: red;
}
.true{
  color: green;
}
.notification{
  display: inline-block;
  text-align: center;
  font-size: 12 !important;
  color: red;
}
.toImage{
  word-wrap: break-word;
  max-width: 260px;
  display: block;
  float: right;
  margin: 0px 5px 5px 0;
  color: #fff;
  border-radius: 8px 8px 0px 8px;
  text-align: left;
  font-size: 15px;
}
