.message{
  max-width: 260px;
  word-wrap: break-word;
  display: inline-block;
}
.msgbox{
  display: grid;
  width: 100%;
}
.date{
  font-size: 10px;
  color: #fff;
  padding-top: 5px;
}
.from{
  width: 89%;
  float: left;
  padding: 5px;
  margin: 0 0 5px 5px;
  color: #fff;
  border-radius: 0px 8px 8px 8px;
  text-align: left;
  font-size: 15px;
  display: grid;
}
.to{
  width: 89%;
  float: right;
  padding: 5px;
  margin: 0px 0px 5px 22px;
  color: #fff;
  border-radius: 8px 8px 0px 8px;
  text-align: left;
  font-size: 15px;
  display: grid;
}
.serverAccepted{
  height: 20px;
  text-align: right;
  margin-right: -10px;
}
.botAccepted{
  height: 20px;
  text-align: right;
}
.false{
  color: red;
}
.true{
  color: green;
}
.notification{
  text-align: center;
  font-size: 12px;
  padding: 4px;
  border-radius: 9px;
  border: 1px #706d6d solid;
  max-width: 250px;
  margin: 2px auto;
}
.toImage{
  width: 89%;
  float: right;
  padding: 5px;
  margin: 0px 0px 5px 22px;
  color: #fff;
  border-radius: 8px 8px 0px 8px;
  text-align: left;
  font-size: 15px;
  display: grid;
}
.bottomMessage{
  display: grid;
  grid-template-columns: 251px 15px 26px;
}
.image{
  width: 99%;
  border-radius: 5px;
}
.bottomNotification{

}
.notificationText{
  color: #ca7e7e;
}
