.greetings {
  margin: 2px 0px;
  display: inline-block;
  width: 100%;
}
.greetings div{
  color: #fff;
  border: 1px #fff solid;
  padding: 4px 5px;
  margin: 5px 2px 0px 33%;
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  float: right;
}
