.greetings {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.greetings div{
  color: #fff;
  border: 1px #fff solid;
  padding: 5px 10px;
  margin: 11px 0 0 51%;
  border-radius: 30px;
  float: right;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
