.box {
  position: absolute;
  width: 100%;
  background: #ededed;
  border-bottom: 1px #9e9e9e solid;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
}
.text{
  font-size: 14px;
  padding: 10px;
  color: #676666;
}
.phoneBox{
  margin-left: 67px;
}
.in{
  width: 160px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  border: none;
  float: left;
}
.phoneSend{
  width: 32px;
  height: 32px;
  float: left;
  background: #4caf50;
  text-align: center;
  color: #fff;
  line-height: 1.9;
  cursor: pointer;
}