.conteiner{
  width: 170px;
  height: 450px;
  display: block;
  position: fixed;
  font-size: 15px!important;
  border-radius: 10px 30px 0 0;
  box-shadow: -3px 4px 20px #333;
  transition-duration: 500ms;
}
.box_top{
  height: 50px;
  width: 100%;
  display: block;
  text-align: left;
  border-radius: 10px 30px 0 0;
}
.box_top span{
  padding: 16px 0 0 20px;
  font-size: 16px;
  font-weight: normal;
  display: block;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.box_messages{
  height: calc(450px - 115px);
  width: 100%;
  display: block;
  border-bottom: 1px #00000096 solid;
  font-family: inherit;
  font-size: 15px!important;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.box_messages::-webkit-scrollbar {
  width: 5px;
}

.box_messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.box_messages::-webkit-scrollbar-thumb {
  background-color: #6a688e;
  outline: 1px solid slategrey;
}
.box_textarea{
  font-size: 16px;
  height: 57px;
  width: calc(100% - 50px);
  display: block;
  border: none;
  margin: 0 0 0 0px;
  border-radius: 3px;
  font-family: inherit;
  outline:none;
}
.box_textarea :active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
.send{
  position: absolute;
  right: 5px;
  bottom: 18px;
  border: 1px solid;
  padding: 10px 11px 6px 9px;
  border-radius: 30px;
  cursor: pointer;
}
.close{
  position: absolute;
  left: -20px;
  top: 8px;
  zoom: 1.5;
  cursor: pointer;
  transition-duration: 500ms;
}
.open{
  position: absolute;
  right: 9px;
  top: 9px;
  zoom: 1.5;
  cursor: pointer;
}
.is_close{
  bottom: 5px;
  width: 330px;
}
.hideClose{
  opacity: 1;
}
.from{
  display: block;
  float: left;
  padding: 5px;
  margin: 0 0 5px 5px;
  color: #fff;
  border-radius: 0px 5px 5px 5px;
  text-align: left;
  font-size: 15px;
}
.to{
  display: block;
  float: right;
  padding: 5px;
  margin: 0px 5px 5px 0;
  color: #fff;
  border-radius: 0px 5px 5px 5px;
  text-align: left;
  font-size: 15px;
}
.serverAccepted{
  float: right;
  position: relative;
  display: block;
  top: -4px;
  height: 0;
}
.botAccepted{
  float: right;
  top: 0px;
  position: relative;
  display: block;
  margin-right: -1px;
  margin-left: -3px;
  height: 0;
}

.move{
  cursor: move;
  position: inherit;
  width: 88%;
  height: 100%;
}
.back–°all{
  position: absolute;
  right: 44px;
  top: 9px;
  zoom: 1.5;
  cursor: pointer;
}
.phoneBox{
  position: absolute;
  top: 50px;
  display: block;
  left: 50%;
  margin-left: -80px;
  font-size: 16px;
  padding: 3px;
  background: #f9b729;
}
.message{
  max-width: 260px;
  word-wrap: break-word;
  display: inline-block;
}
.msgbox{
  width: 100%;
  display: inline-block;
}
.date{
  width: 100%;
  display: block;
  font-size: 10px;
  color: #fff;
  text-align: right;
}
